@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  background-color: #000;
}

/* Custom hide scrollbar */
::-webkit-scrollbar {
  display: none;
}